{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        {% if user.is_authenticated %}

        <h3>Create a post here, {{ user.username }}</h3>
        <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Post!</button>
        </form>
        {% endif %}
    </div>
</div>

{%endblock%}