{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!-- Create post form, authentication in Views -->
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <h3 class="text-center text-blue" style="margin-top: 1.3em;">Create a post here, {{ user.username }}</h3>
            <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Post!</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}