{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group text-center">
            {% if user == post.author %}

            <h3 class="text-center text-blue" style="margin-top: 1.3em;">{{ user.username }}, delete {{ post.title }}?
            </h3>
            <p>This will remove the post permanently.</p>
            <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger btn-lg">Delete post!</button>
                </div>
            </form>
            {% else %}
            <h3 class="text-center text-blue" style="margin-top: 1.3em;">{{ user.username }}
            </h3>
            <p>You do not have permission to delete this post.<br>
                <a href="{% url 'home' %}" class="link">Go back.</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}