{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Posts -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% if not post in post_list %}
                <div class="text-center text-blue mt-4 ps-logo"><i class="fab fa-playstation"></i></div>
                {% endif %}
                <!-- Maximum of 3 posts in a row -->
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Post card image -->
                            <a href="{% url 'post_detail' post.id %}" class="post-link">
                                <div class="image-container box-shadow">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <!-- Credit: Angelo Abear on Unsplash. Links in README -->
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/jfrdrkssn/image/upload/q_auto:eco/v1649246606/header-angelo-abear-unsplash_wclqyn.jpg">
                                    {% else %}
                                    <!-- Image uploaded by user -->
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <!-- Post category flash -->
                                    <div class="image-flash text-center">
                                        <p class="category">{{ post.category }}</p>
                                    </div>
                                </div>
                            </a>
                            <!-- Post card info -->
                            <a href="{% url 'post_detail' post.pk %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>

                                <hr />
                                <p class="card-text text-muted h6">
                                    {{ post.author}} | {{ post.created_on }} |
                                    <i class="far fa-plus-square text-blue"></i>
                                    {{ post.number_of_likes }}
                                </p>
                            </a>
                            <!-- Post Edit link if user is author of post -->
                            <div class="button-list">
                                {% if user == post.author %}
                                <a href="{% url 'edit_post' post.pk %}" class="post-link edit-btn text-white">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}